.home-main {
    min-height: calc(100vh - 148px);
}

.home-section {
    max-width: 1200px;
    margin: 0 auto;
}

.home-header {
    &-tip {
        color: #20a4f3;
        font-size: 18px;
        font-weight: 600;
        margin: 4px 0 12px 0;
        letter-spacing: 0.05em;
    }
}

.home-body {
    &-form {
        margin-top: 20px;
        .el-form-item {
            margin-right: 16px !important;
        }
    }
    &-action {
        float: right;
    }
}

.home-share-link {
    word-break: break-all;
    font-size: 14px;
    color: #20a4f3;
    transition: 100ms;
}

.home-share-link:hover {
    color: lighten(#20a4f3, 20%) !important;
}

@media(max-width: 767px) {
    .home-body {
        &-form {
            .el-form-item {
                display: flex !important;
                margin-right: 0 !important;
                .el-form-item__content {
                    flex-grow: 1 !important;
                    .el-select {
                        width: 100%;
                    }
                }
            }
        }
    }
    .home-body-action {
        float: none;
        width: 100%;
        margin-bottom: 24px;
        .el-button {
            width: 100%;
        }
    }
}