.container-footer {
    height: 64px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    font-size: 13px;
    color: #6e6e6e;
}